:root {
  --blue: #2E2A42;
  --green: #234B59;
  --yellow: #FEEE86;

}

html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--blue);
}

img{
  width: 230px;
  align-self: center;
}


.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted var(--blue);
  border-radius: 5px;
  font-size: 22px;
  background-color: var(--green);
  color: var(--yellow);
  box-shadow: 0 1px 1px 0 var(--yellow);
}

.container{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 200px);
	justify-content: center;
    align-items: center;
	padding: 40px;
}

.img{
  width: 150px;  
}

.crypto{
	font-weight: bold;
	font-size: 25px;
}

.result p{
	opacity: .9;
}

h3{
	text-align: center;
	padding: 30 0px;
	color: var(--yellow);
	font-size: 42px;
}

h5{
  text-align: center;
  color: var(--yellow);
  opacity: .8;
}

.split-credit {
    display: grid;
    padding-top: 10px;
    justify-content: center;
  }

  .split-credit p {
    font-size: 12px;
    line-height: 5px; 
    color: var(--yellow);
  }

  .split-credit p a {
      font-weight: bold;
      color: var(--yellow); 
   }